Repository hwinther/proxmox, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, github, documentation, docker, dependencies

.github/labeler.yml:

workflow:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*"

github:
  - changed-files:
      - any-glob-to-any-file: ".github/*"

documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/*", "**/*.md"]

docker:
  - changed-files:
      - any-glob-to-any-file: ["**/Dockerfile", "**/docker-compose.yml"]

dependencies:
  - changed-files:
      - any-glob-to-any-file: ["src/**/*.lock.json", "src/**/yarn.lock"]

Add defaults
  compose/templates/adsb/dump1090-fa/Dockerfile
Labels: docker

Add rpi 3b wisdom file
  compose/templates/adsb/dump1090-fa/Dockerfile
  compose/templates/adsb/dump1090-fa/wisdom.rpi3b
Labels: docker

fix: dump1090 performance via wisdom file (#47)
  .github/dependabot.yml
  .github/workflows/build-adsbexchange.yaml
  .github/workflows/build-ais-catcher.yaml
  .github/workflows/build-dump1090-fa.yaml
  .github/workflows/build-fr24.yaml
  .github/workflows/build-opensky.yaml
  .github/workflows/build-piaware.yaml
  .github/workflows/build-sdr-base-images.yaml
  .github/workflows/build-tar1090.yaml
  compose/templates/adsb/dump1090-fa/Dockerfile
  compose/templates/adsb/dump1090-fa/start-dump1090-fa.sh
  compose/templates/adsb/dump1090-fa/wisdom.rpi3b
Labels: workflow, github, docker

fix: Workflow concurrency
  .github/workflows/build-adsbexchange.yaml
  .github/workflows/build-ais-catcher.yaml
  .github/workflows/build-dump1090-fa.yaml
  .github/workflows/build-fr24.yaml
  .github/workflows/build-opensky.yaml
  .github/workflows/build-piaware.yaml
  .github/workflows/build-sdr-base-images.yaml
  .github/workflows/build-tar1090.yaml
Labels: workflow

fix: Workflow concurrency (#48)
  .github/workflows/build-adsbexchange.yaml
  .github/workflows/build-ais-catcher.yaml
  .github/workflows/build-dump1090-fa.yaml
  .github/workflows/build-fr24.yaml
  .github/workflows/build-opensky.yaml
  .github/workflows/build-piaware.yaml
  .github/workflows/build-sdr-base-images.yaml
  .github/workflows/build-tar1090.yaml
Labels: workflow

fix: Redirect config append
  compose/templates/adsb/dump1090-fa/start-dump1090-fa.sh
Labels: none

remove old value
  compose/templates/adsb/dump1090-fa/start-dump1090-fa.sh
Labels: none

remove debug
  compose/templates/adsb/dump1090-fa/start-dump1090-fa.sh
Labels: none

Add restart
  compose/templates/adsb/dump1090-fa/start-dump1090-fa.sh
  compose/templates/adsb/piaware/start-piaware.sh
Labels: none

Add config test
  compose/templates/adsb/dump1090-fa/start-dump1090-fa.sh
  compose/templates/adsb/piaware/start-piaware.sh
Labels: none

Fix start cmd
  compose/templates/adsb/dump1090-fa/start-dump1090-fa.sh
Labels: none

fix: dump1090 redirect (#50)
  compose/templates/adsb/dump1090-fa/start-dump1090-fa.sh
  compose/templates/adsb/piaware/start-piaware.sh
Labels: none

2nd attempt to fix redirect
  compose/templates/adsb/dump1090-fa/start-dump1090-fa.sh
Labels: none

fix: Redirect had wrong base path (#51)
  compose/templates/adsb/dump1090-fa/start-dump1090-fa.sh
Labels: none

Add promotion PR workflow
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Remove condition
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Add more steps
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Add initial release branch
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Add token
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Add token
  .github/workflows/promotion-pull-request.yml
Labels: workflow

changes
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Test
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Add diff output
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Test
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Test2
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Test
  .github/workflows/promotion-pull-request.yml
Labels: workflow

T
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Testing
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Test3
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Temp change
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Test again
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Again
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Fix
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Fix token
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Test4
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Fix branch logic
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Again
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Fix diff?
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Again
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Fix next step
  .github/workflows/promotion-pull-request.yml
Labels: workflow
