Repository hwinther/proxmox, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, github, documentation, docker, dependencies

feat: Add docker and docker-compose to dependabot
  .github/dependabot.yml
Labels: github

feat: Add docker and docker-compose to dependabot (#29)
  .github/dependabot.yml
Labels: github

fix: Station name missing quotation marks
  compose/templates/ais/ais-catcher/start-ais-catcher.sh
Labels: none

fix: Station name missing quotation marks (#30)
  compose/templates/ais/ais-catcher/start-ais-catcher.sh
Labels: none

refactor: dockerfiles to use targetarch
  .vscode/settings.json
  compose/templates/adsb/.env.sample
  compose/templates/adsb/docker-compose.yaml
  compose/templates/adsb/sdr-base/Dockerfile
  compose/templates/ais/.env.sample
  compose/templates/ais/ais-catcher/Dockerfile
  compose/templates/ais/docker-compose.yaml
Labels: docker

Attempted fix
  compose/templates/adsb/sdr-base/Dockerfile
Labels: docker

Fix formatting
  .vscode/settings.json
  compose/templates/adsb/sdr-base/Dockerfile
Labels: docker

Test
  compose/templates/adsb/sdr-base/Dockerfile
Labels: docker

Test
  compose/templates/adsb/sdr-base/Dockerfile
Labels: docker

Fix download
  compose/templates/adsb/sdr-base/Dockerfile
Labels: docker

Minor fixes
  .vscode/settings.json
  compose/templates/adsb/sdr-base/Dockerfile
Labels: docker

Save space
  compose/templates/adsb/sdr-base/Dockerfile
Labels: docker

Move sdr base for reuse
  compose/templates/adsb/docker-compose.yaml
  compose/templates/sdr-base/Dockerfile
Labels: docker

Add support for additional tag
  .github/actions/docker/action.yaml
Labels: none

Split sdr base build to support current and previous debian versions
  compose/templates/adsb/docker-compose.yaml
  compose/templates/sdr-base/bookworm-build/Dockerfile
  compose/templates/sdr-base/bullseye-build/Dockerfile
Labels: docker

Add tag option and new workflow for sdr-base
  .github/actions/docker/action.yaml
  .github/workflows/build-ais-catcher.yaml
  .github/workflows/build-sdr-base-images.yaml
  .vscode/settings.json
Labels: workflow

Fix string
  .github/workflows/build-sdr-base-images.yaml
Labels: workflow

Shorter desc
  .github/workflows/build-sdr-base-images.yaml
Labels: workflow

Disable fail fast
  .github/workflows/build-sdr-base-images.yaml
Labels: workflow

Add second target
  compose/templates/adsb/docker-compose.yaml
Labels: none

Fix condition
  .github/actions/docker/action.yaml
Labels: none

feat: Improve separation of sdr base image and add related workflow (#31)
  .github/actions/docker/action.yaml
  .github/workflows/build-ais-catcher.yaml
  .github/workflows/build-sdr-base-images.yaml
  .vscode/settings.json
  compose/templates/adsb/.env.sample
  compose/templates/adsb/docker-compose.yaml
  compose/templates/ais/.env.sample
  compose/templates/ais/ais-catcher/Dockerfile
  compose/templates/ais/docker-compose.yaml
  compose/templates/sdr-base/bookworm-build/Dockerfile
  compose/templates/sdr-base/bullseye-build/Dockerfile
Labels: workflow, docker

feat: Add extra dockerfiles and extend workflow
  .github/workflows/build-sdr-base-images.yaml
  compose/templates/sdr-base/bookworm/Dockerfile
  compose/templates/sdr-base/bullseye/Dockerfile
Labels: workflow, docker

feat: Add images to compose file
  compose/templates/adsb/docker-compose.yaml
Labels: none

feat: Chained base and build images
  compose/templates/adsb/docker-compose.yaml
  compose/templates/sdr-base/bookworm/build/Dockerfile
  compose/templates/sdr-base/bullseye/build/Dockerfile
Labels: docker

Add arg
  compose/templates/sdr-base/bookworm/build/Dockerfile
  compose/templates/sdr-base/bullseye/build/Dockerfile
Labels: docker

Update names
  .github/workflows/build-sdr-base-images.yaml
  compose/templates/adsb/docker-compose.yaml
Labels: workflow

Simplify
  compose/templates/adsb/docker-compose.yaml
  compose/templates/sdr-base/bookworm/build/Dockerfile
  compose/templates/sdr-base/bullseye/build/Dockerfile
Labels: docker

feat: Add runtime images (#32)
  .github/workflows/build-sdr-base-images.yaml
  compose/templates/adsb/docker-compose.yaml
  compose/templates/sdr-base/bookworm/Dockerfile
  compose/templates/sdr-base/bookworm/build/Dockerfile
  compose/templates/sdr-base/bullseye/Dockerfile
  compose/templates/sdr-base/bullseye/build/Dockerfile
Labels: workflow, docker

fix: Add missing runtime layer
  compose/templates/sdr-base/bookworm/build/Dockerfile
  compose/templates/sdr-base/bullseye/build/Dockerfile
Labels: docker

fix: Add missing runtime layer (#33)
  compose/templates/sdr-base/bookworm/build/Dockerfile
  compose/templates/sdr-base/bullseye/build/Dockerfile
Labels: docker

feat: Switch to new shared base image
  compose/templates/adsb/adsbexchange/Dockerfile
Labels: docker

Add args
  compose/templates/adsb/docker-compose.yaml
Labels: none

Fix base image values
  compose/templates/adsb/adsbexchange/Dockerfile
Labels: docker

Switch local layered build with shared base image
  compose/templates/adsb/dump1090-fa/Dockerfile
  compose/templates/adsb/fr24/Dockerfile
  compose/templates/adsb/opensky/Dockerfile
  compose/templates/adsb/piaware/Dockerfile
  compose/templates/adsb/tar1090/Dockerfile
Labels: docker

Restore
  compose/templates/adsb/opensky/Dockerfile
Labels: docker

Test
  compose/templates/adsb/dump1090-fa/Dockerfile
Labels: docker

feat: Replace adbs base image (#34)
  compose/templates/adsb/adsbexchange/Dockerfile
  compose/templates/adsb/docker-compose.yaml
  compose/templates/adsb/dump1090-fa/Dockerfile
  compose/templates/adsb/fr24/Dockerfile
  compose/templates/adsb/piaware/Dockerfile
  compose/templates/adsb/tar1090/Dockerfile
Labels: docker

Revert "feat: Replace adbs base image (#34)"
  compose/templates/adsb/adsbexchange/Dockerfile
  compose/templates/adsb/docker-compose.yaml
  compose/templates/adsb/dump1090-fa/Dockerfile
  compose/templates/adsb/fr24/Dockerfile
  compose/templates/adsb/piaware/Dockerfile
  compose/templates/adsb/tar1090/Dockerfile
Labels: docker

feat: Add buster and move dockerfiles to separate directories
  .github/workflows/build-sdr-base-images.yaml
  compose/templates/sdr-base/bookworm/base-image/Dockerfile
  compose/templates/sdr-base/bookworm/build-image/Dockerfile
  compose/templates/sdr-base/bullseye/base-image/Dockerfile
  compose/templates/sdr-base/bullseye/build-image/Dockerfile
  compose/templates/sdr-base/buster/base-image/Dockerfile
  compose/templates/sdr-base/buster/build-image/Dockerfile
Labels: workflow, docker

.github/labeler.yml:

workflow:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*"

github:
  - changed-files:
      - any-glob-to-any-file: ".github/*"

documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/*", "**/*.md"]

docker:
  - changed-files:
      - any-glob-to-any-file: ["**/Dockerfile", "**/docker-compose.yml"]

dependencies:
  - changed-files:
      - any-glob-to-any-file: ["src/**/*.lock.json", "src/**/yarn.lock"]
