Repository hwinther/proxmox, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, github, documentation, docker, dependencies

feat: Add buster and move dockerfiles to separate directories (#36)
  .github/workflows/build-sdr-base-images.yaml
  compose/templates/sdr-base/bookworm/base-image/Dockerfile
  compose/templates/sdr-base/bookworm/build-image/Dockerfile
  compose/templates/sdr-base/bullseye/base-image/Dockerfile
  compose/templates/sdr-base/bullseye/build-image/Dockerfile
  compose/templates/sdr-base/buster/base-image/Dockerfile
  compose/templates/sdr-base/buster/build-image/Dockerfile
Labels: workflow, docker

fix: Buster package list and opensky image
  compose/templates/adsb/opensky/Dockerfile
  compose/templates/sdr-base/buster/build-image/Dockerfile
Labels: docker

fix: Buster package list and opensky image (#37)
  compose/templates/adsb/opensky/Dockerfile
  compose/templates/sdr-base/buster/build-image/Dockerfile
Labels: docker

fix: Paths and add missing dockerfiles
  compose/templates/adsb/docker-compose.yaml
Labels: none

fix: Add missing dependency
  compose/templates/adsb/opensky/Dockerfile
Labels: docker

fix: Remove leftover apt cache
  compose/templates/adsb/adsbexchange/Dockerfile
  compose/templates/adsb/fr24/Dockerfile
  compose/templates/adsb/opensky/Dockerfile
Labels: docker

refactor: Move base and build image compose services to separate file
  compose/templates/adsb/docker-compose.yaml
  compose/templates/sdr-base/docker-compose.yaml
Labels: none

fix: Wrong mix of tags being applied
  .github/actions/docker/action.yaml
  .github/workflows/build-ais-catcher.yaml
Labels: workflow

feat: Add adsbexchange workflow
  .github/workflows/adsb/build-adsbexchange.yaml
Labels: none

fix: compose file paths, refactor: base and build compose source (#38)
  .github/actions/docker/action.yaml
  .github/workflows/adsb/build-adsbexchange.yaml
  compose/templates/adsb/adsbexchange/Dockerfile
  compose/templates/adsb/docker-compose.yaml
  compose/templates/adsb/fr24/Dockerfile
  compose/templates/adsb/opensky/Dockerfile
  compose/templates/sdr-base/docker-compose.yaml
Labels: docker

fix: Workflow name
  .github/workflows/adsb/build-adsbexchange.yaml
Labels: none

feat: Add dump1090-fa workflow
  .github/workflows/adsb/build-dump1090-fa.yaml
Labels: none

chore: Remove old branch
  .github/workflows/adsb/build-adsbexchange.yaml
  .github/workflows/adsb/build-dump1090-fa.yaml
Labels: none

feat: Add dump1090 workflow (#39)
  .github/workflows/adsb/build-dump1090-fa.yaml
Labels: none

chore: Move workflows
  .github/workflows/build-adsbexchange.yaml
  .github/workflows/build-dump1090-fa.yaml
Labels: workflow

feat: Add missing workflows for adsb compose set
  .github/workflows/build-fr24.yaml
  .github/workflows/build-opensky.yaml
  .github/workflows/build-piaware.yaml
  .github/workflows/build-tar1090.yaml
Labels: workflow

fix: Branch tag should be off by default
  .github/actions/docker/action.yaml
Labels: none

chore: Move workflows (#40)
  .github/actions/docker/action.yaml
  .github/workflows/build-adsbexchange.yaml
  .github/workflows/build-dump1090-fa.yaml
  .github/workflows/build-fr24.yaml
  .github/workflows/build-opensky.yaml
  .github/workflows/build-piaware.yaml
  .github/workflows/build-tar1090.yaml
Labels: workflow

fix: Wrong trigger path for workflows
  .github/workflows/build-adsbexchange.yaml
  .github/workflows/build-dump1090-fa.yaml
  .github/workflows/build-fr24.yaml
  .github/workflows/build-opensky.yaml
  .github/workflows/build-piaware.yaml
  .github/workflows/build-tar1090.yaml
Labels: workflow

fix: Wrong trigger path for workflows (#41)
  .github/workflows/build-adsbexchange.yaml
  .github/workflows/build-dump1090-fa.yaml
  .github/workflows/build-fr24.yaml
  .github/workflows/build-opensky.yaml
  .github/workflows/build-piaware.yaml
  .github/workflows/build-tar1090.yaml
Labels: workflow

feat: Add tmpfs for /tmp and /var/log
  compose/templates/adsb/docker-compose.yaml
Labels: none

fix: Adjust memory sizes, add /run
  compose/templates/adsb/docker-compose.yaml
Labels: none

Test different settings
  compose/templates/adsb/docker-compose.yaml
Labels: none

Fix permissions
  compose/templates/adsb/docker-compose.yaml
Labels: none

Copy compose file without build
  compose/servers/radio-pi02/adsb/docker-compose.yaml
Labels: none

Copy ais-catcher compose content to server folder
  compose/servers/radio-pi02/ais/docker-compose.yaml
  compose/servers/radio-pi02/ais/override.yaml
Labels: none

Disable port bindings
  compose/servers/radio-pi02/adsb/docker-compose.yaml
Labels: none

Add port labels
  compose/servers/radio-pi02/adsb/docker-compose.yaml
Labels: none

fix: First exposed port should be http and default to port 80
  compose/templates/adsb/dump1090-fa/Dockerfile
  compose/templates/adsb/piaware/Dockerfile
  compose/templates/adsb/tar1090/Dockerfile
  compose/templates/ais/ais-catcher/Dockerfile
  compose/templates/ais/docker-compose.yaml
Labels: docker

feat: default ports expose web first and use port 80 (#43)
  compose/templates/adsb/dump1090-fa/Dockerfile
  compose/templates/adsb/piaware/Dockerfile
  compose/templates/adsb/tar1090/Dockerfile
  compose/templates/ais/ais-catcher/Dockerfile
  compose/templates/ais/docker-compose.yaml
Labels: docker

fix: Use platform to determine wisdom file and support generating another file based on the actual platform
  compose/templates/adsb/dump1090-fa/Dockerfile
Labels: docker

feat: Add tar1090 redirect
  compose/templates/adsb/dump1090-fa/start-dump1090-fa.sh
Labels: none

fix: dependabot docker paths
  .github/dependabot.yml
Labels: github

chore: Remove unused code
  compose/templates/adsb/dump1090-fa/Dockerfile
Labels: docker

Add version output
  compose/templates/adsb/dump1090-fa/start-dump1090-fa.sh
Labels: none

Fix path
  compose/templates/adsb/dump1090-fa/Dockerfile
Labels: docker

Fix syntax
  compose/templates/adsb/dump1090-fa/Dockerfile
Labels: docker

Remove unused section
  compose/templates/adsb/dump1090-fa/Dockerfile
Labels: docker

Add arg
  compose/templates/adsb/dump1090-fa/Dockerfile
Labels: docker

Add concurrency check to all workflows
  .github/workflows/build-adsbexchange.yaml
  .github/workflows/build-ais-catcher.yaml
  .github/workflows/build-dump1090-fa.yaml
  .github/workflows/build-fr24.yaml
  .github/workflows/build-opensky.yaml
  .github/workflows/build-piaware.yaml
  .github/workflows/build-sdr-base-images.yaml
  .github/workflows/build-tar1090.yaml
Labels: workflow

.github/labeler.yml:

workflow:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*"

github:
  - changed-files:
      - any-glob-to-any-file: ".github/*"

documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/*", "**/*.md"]

docker:
  - changed-files:
      - any-glob-to-any-file: ["**/Dockerfile", "**/docker-compose.yml"]

dependencies:
  - changed-files:
      - any-glob-to-any-file: ["src/**/*.lock.json", "src/**/yarn.lock"]
