Repository hwinther/proxmox, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, github, documentation, docker, dependencies

other change
  temp.md
Labels: documentation

workflow
  .github/workflows/promotion-pull-request.yml
Labels: workflow

other
  temp.md
Labels: documentation

wf
  .github/workflows/promotion-pull-request.yml
Labels: workflow

other
  temp.md
Labels: documentation

Add debug
  .github/workflows/promotion-pull-request.yml
Labels: workflow

other
  temp.md
Labels: documentation

wf patch
  .github/workflows/promotion-pull-request.yml
Labels: workflow

another change
  temp.md
Labels: documentation

fix condition
  .github/workflows/promotion-pull-request.yml
Labels: workflow

diff
  temp.md
Labels: documentation

fix space
  .github/workflows/promotion-pull-request.yml
Labels: workflow

other
  temp.md
Labels: documentation

switch to commit body
  .github/workflows/promotion-pull-request.yml
Labels: workflow

aa
  temp.md
Labels: documentation

fix commit messages
  .github/workflows/promotion-pull-request.yml
Labels: workflow

other5
  temp.md
Labels: documentation

a
  temp.md
Labels: documentation

fix body
  .github/workflows/promotion-pull-request.yml
Labels: workflow

other2
  temp.md
Labels: documentation

aaa
  temp.md
Labels: documentation

Add ignore
  .github/workflows/promotion-pull-request.yml
  temp.md
Labels: workflow, documentation

Update workflow
  .github/workflows/build-adsbexchange.yaml
Labels: workflow

simplify
  .github/workflows/build-adsbexchange.yaml
Labels: workflow

test
  .github/workflows/build-adsbexchange.yaml
Labels: workflow

fix2
  .github/actions/docker/action.yaml
  .github/workflows/build-adsbexchange.yaml
Labels: workflow

fix3
  .github/workflows/build-adsbexchange.yaml
Labels: workflow

again
  .github/workflows/build-adsbexchange.yaml
Labels: workflow

test3
  .github/workflows/build-adsbexchange.yaml
Labels: workflow

fix
  .github/actions/docker/action.yaml
Labels: none

Rewrote tag logic and application to images in their new paths
  .github/actions/docker/action.yaml
  .github/workflows/build-adsbexchange.yaml
  .github/workflows/build-ais-catcher.yaml
  .github/workflows/build-dump1090-fa.yaml
  .github/workflows/build-fr24.yaml
  .github/workflows/build-opensky.yaml
  .github/workflows/build-piaware.yaml
  .github/workflows/build-sdr-base-images.yaml
  .github/workflows/build-tar1090.yaml
Labels: workflow

Add missing var
  .github/workflows/build-sdr-base-images.yaml
Labels: workflow

Disable provenance and sbom
  .github/actions/docker/action.yaml
Labels: none

Update docker image paths in compose files
  compose/templates/adsb/docker-compose.yaml
  compose/templates/ais/docker-compose.yaml
  compose/templates/sdr-base/docker-compose.yaml
Labels: none

feat: Release branches, tags and associated workflow changes (#55)
  .github/actions/docker/action.yaml
  .github/workflows/build-adsbexchange.yaml
  .github/workflows/build-ais-catcher.yaml
  .github/workflows/build-dump1090-fa.yaml
  .github/workflows/build-fr24.yaml
  .github/workflows/build-opensky.yaml
  .github/workflows/build-piaware.yaml
  .github/workflows/build-sdr-base-images.yaml
  .github/workflows/build-tar1090.yaml
  .github/workflows/promotion-pull-request.yml
  compose/templates/adsb/docker-compose.yaml
  compose/templates/ais/docker-compose.yaml
  compose/templates/sdr-base/docker-compose.yaml
Labels: workflow

fix: Docker base image paths
  compose/templates/adsb/adsbexchange/Dockerfile
  compose/templates/adsb/dump1090-fa/Dockerfile
  compose/templates/adsb/fr24/Dockerfile
  compose/templates/adsb/opensky/Dockerfile
  compose/templates/adsb/piaware/Dockerfile
  compose/templates/adsb/tar1090/Dockerfile
Labels: docker

fix: Docker base image paths (#69)
  compose/templates/adsb/adsbexchange/Dockerfile
  compose/templates/adsb/dump1090-fa/Dockerfile
  compose/templates/adsb/fr24/Dockerfile
  compose/templates/adsb/opensky/Dockerfile
  compose/templates/adsb/piaware/Dockerfile
  compose/templates/adsb/tar1090/Dockerfile
Labels: docker

fix: Promotion workflow compare branch value
  .github/workflows/promotion-pull-request.yml
Labels: workflow

fix: Promotion workflow compare branch value (#70)
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Fix sytax
  compose/servers/clone-test1/multiple-web/docker-compose.yaml
Labels: none

.github/labeler.yml:

workflow:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*"

github:
  - changed-files:
      - any-glob-to-any-file: ".github/*"

documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/*", "**/*.md"]

docker:
  - changed-files:
      - any-glob-to-any-file: ["**/Dockerfile", "**/docker-compose.yml"]

dependencies:
  - changed-files:
      - any-glob-to-any-file: ["src/**/*.lock.json", "src/**/yarn.lock"]
