Repository hwinther/proxmox, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, github, documentation, docker, dependencies

.github/labeler.yml:

workflow:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*"

github:
  - changed-files:
      - any-glob-to-any-file: ".github/*"

documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/*", "**/*.md"]

docker:
  - changed-files:
      - any-glob-to-any-file: ["**/Dockerfile", "**/docker-compose.yml"]

dependencies:
  - changed-files:
      - any-glob-to-any-file: ["src/**/*.lock.json", "src/**/yarn.lock"]

Add other html files
  compose/servers/clone-test1/multiple-web/docker-compose.yaml
Labels: none

Fix syntax
  compose/servers/clone-test1/multiple-web/docker-compose.yaml
Labels: none

Add test nginx 3 with instances to verify coolfiy setup
  compose/servers/clone-test1/multiple-web/docker-compose.yaml
  compose/servers/clone-test1/multiple-web/nginx1/index.html
  compose/servers/clone-test1/multiple-web/nginx2/index.html
  compose/servers/clone-test1/multiple-web/nginx3/footer.html
  compose/servers/clone-test1/multiple-web/nginx3/index.html
  compose/servers/clone-test1/multiple-web/nginx3/main.html
  compose/servers/clone-test1/multiple-web/nginx3/menu.html
  compose/servers/clone-test1/multiple-web/nginx3/top.html
Labels: none

Remove unused code
  compose/servers/clone-test1/multiple-web/docker-compose.yaml
Labels: none

Inlined the html
  compose/servers/clone-test1/multiple-web/docker-compose.yaml
Labels: none

Remove port binding
  compose/servers/clone-test1/multiple-web/docker-compose.yaml
Labels: none

Add ignore
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Deploy/ct1 (#54)
  .github/workflows/promotion-pull-request.yml
  compose/servers/clone-test1/multiple-web/docker-compose.yaml
  compose/servers/clone-test1/multiple-web/nginx1/index.html
  compose/servers/clone-test1/multiple-web/nginx2/index.html
  compose/servers/clone-test1/multiple-web/nginx3/footer.html
  compose/servers/clone-test1/multiple-web/nginx3/index.html
  compose/servers/clone-test1/multiple-web/nginx3/main.html
  compose/servers/clone-test1/multiple-web/nginx3/menu.html
  compose/servers/clone-test1/multiple-web/nginx3/top.html
Labels: workflow

Copy ais-catcher compose content to server folder
  compose/servers/radio-pi02/ais/docker-compose.yaml
  compose/servers/radio-pi02/ais/override.yaml
Labels: none

Disable port bindings
  compose/servers/radio-pi02/adsb/docker-compose.yaml
Labels: none

Remove port labels, default port 80 should work
  compose/servers/radio-pi02/adsb/docker-compose.yaml
  compose/servers/radio-pi02/ais/docker-compose.yaml
Labels: none

Add header
  compose/servers/radio-pi02/ais/docker-compose.yaml
Labels: none

Add wisdom argument
  compose/servers/radio-pi02/adsb/docker-compose.yaml
Labels: none

Set port explicitly again
  compose/servers/radio-pi02/ais/docker-compose.yaml
Labels: none

Fix hostname
  compose/servers/radio-pi02/ais/docker-compose.yaml
Labels: none

Add port labels
  compose/servers/radio-pi02/adsb/docker-compose.yaml
Labels: none

Copy compose file without build
  compose/servers/radio-pi02/adsb/docker-compose.yaml
Labels: none

Change to latest version and 0.1
  compose/servers/radio-pi02/adsb/docker-compose.yaml
  compose/servers/radio-pi02/ais/docker-compose.yaml
  compose/templates/adsb/docker-compose.yaml
Labels: none

Deploy/radio pi02 (#49)
  compose/servers/radio-pi02/adsb/docker-compose.yaml
  compose/servers/radio-pi02/ais/docker-compose.yaml
  compose/servers/radio-pi02/ais/override.yaml
Labels: none

fix: Workflow condition was not using main
  .github/workflows/promotion-pull-request.yml
Labels: workflow

fix: Workflow condition was not using main (#71)
  .github/workflows/promotion-pull-request.yml
Labels: workflow

feat: Add rpi02 to dependabot
  .github/dependabot.yml
Labels: github

feat: Add rpi02 to dependabot (#72)
  .github/dependabot.yml
Labels: github

fix: Compose paths
  .github/dependabot.yml
Labels: github

fix: Compose paths (#74)
  .github/dependabot.yml
Labels: github

fix: Promotion workflow debug bug
  .github/workflows/promotion-pull-request.yml
Labels: workflow

fix: Promotion workflow debug bug
  .github/workflows/promotion-pull-request.yml
Labels: workflow

chore: Update dict
  .vscode/settings.json
Labels: none

chore: Update dict
  .vscode/settings.json
Labels: none

feat: Add reusable git tag workflows
  .github/actions/git-tag-diff/action.yaml
  .github/actions/git-tag-remove-prefix/action.yaml
  .github/workflows/build-adsbexchange.yaml
Labels: workflow

fix: Name
  .github/workflows/build-adsbexchange.yaml
Labels: workflow

fix: Add echo
  .github/actions/git-tag-diff/action.yaml
Labels: none

feat: Add skip on no diff to other workflows
  .github/workflows/build-ais-catcher.yaml
  .github/workflows/build-dump1090-fa.yaml
  .github/workflows/build-fr24.yaml
  .github/workflows/build-opensky.yaml
  .github/workflows/build-piaware.yaml
  .github/workflows/build-sdr-base-images.yaml
  .github/workflows/build-tar1090.yaml
Labels: workflow

test change
  compose/templates/adsb/adsbexchange/Dockerfile
Labels: docker

fix: Trigger paths
  .github/workflows/build-adsbexchange.yaml
  .github/workflows/build-ais-catcher.yaml
  .github/workflows/build-dump1090-fa.yaml
  .github/workflows/build-fr24.yaml
  .github/workflows/build-opensky.yaml
  .github/workflows/build-piaware.yaml
  .github/workflows/build-sdr-base-images.yaml
  .github/workflows/build-tar1090.yaml
  compose/templates/adsb/adsbexchange/Dockerfile
Labels: workflow, docker

feat: Add reusable git tag workflows (#78)
  .github/actions/git-tag-diff/action.yaml
  .github/actions/git-tag-remove-prefix/action.yaml
  .github/workflows/build-adsbexchange.yaml
  .github/workflows/build-ais-catcher.yaml
  .github/workflows/build-dump1090-fa.yaml
  .github/workflows/build-fr24.yaml
  .github/workflows/build-opensky.yaml
  .github/workflows/build-piaware.yaml
  .github/workflows/build-sdr-base-images.yaml
  .github/workflows/build-tar1090.yaml
Labels: workflow

fix: Remove github debug context
  .github/workflows/promotion-pull-request.yml
Labels: workflow

fix: Remove github debug context (#80)
  .github/workflows/promotion-pull-request.yml
Labels: workflow
